:root {
  --type-scale-12: .75rem;
  --type-scale-14: .875rem;
  --type-scale-16: 1rem;
  --type-scale-20: 1.25rem;
  --type-scale-24: 1.5rem;
  --type-scale-32: 2rem;
  --type-scale-40: 2.5rem;
  --type-scale-48: 3rem;
  --type-scale-56: 3.5rem;
}
